@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');
 
 /* start main variables */
 $primaryColor:#5fb7ea;
 $primaryRGBA:rgba(0,0,0,.3);
 $mainGrey:#fafafa;
 $darkGrey:#5f5e5e;
 $mainWhite:#fff;
 $mainBlack:#222;
 $mainTransition:all .3s ease-in-out;
 $mainSpacing:.3rem;
 /* End main variables */
body {
   font-family: 'Open Sans', sans-serif !important;
   background-color: $mainGrey !important;
 }
 .text-title{
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
letter-spacing: $mainSpacing;
 }
 .text-main{
   color: $primaryColor;
 }